@use '../../variables' as v;

.eui-info-panel {
  position: relative;
  font-size: 14px;

  .eui-info-panel-toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: v.$gray-lighter;
  }

  &.eui-panel {
    .eui-panel-body {
      padding-left: 25px;
      padding-right: 90px;

      .eui-container {
        padding: 0;
      }
    }
  }
}
